.backGround{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.todoApp{
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border-radius: 15px;
    padding: 20px;
}

.headerTodo{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin: 0;
}

.InputTask{
    margin-top: 20px;
    display: flex;
}

.InputForm{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #aaa;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.AddButton{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #8D4AE7;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
}

.AddButton:hover{
    background-color: #6f00ff;
}

.Blur{
    background-color: #b38be8 !important;
    cursor: not-allowed !important;
}

.Task{
    padding: 10px;
    background-color: #dfdbe2;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.EmptyTask{
    text-align: center;
    font-weight: 700;
}

.Task-remove{
    width: 42px;
    height: 100%;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    border-radius: 5px;
    background-color: #ff4d4d;
    position: absolute;
    text-align: center;
    line-height: 41px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.Task:hover .Task-remove{
    right: 0;
}

.Task-remove:hover{
    background-color: #ff0000;
}

.Footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer p{
    margin: 0;
    font-weight: 700;
}

.ClearButton{
    all: unset;
    background-color: #8D4AE7;
    height: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    line-height: 10px;
}

.ClearButton:hover{
    background-color: #6f00ff;
}

.TicTacToe{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.Square{
    margin: 2px;
    background-color: #00000040;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.Cross, .Circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loadMarker 0.3s ease-in-out;
}

@keyframes loadMarker{
    from{
        width: 0%;
        height: 0%;
    }
    to{
        width: 100%;
        height: 100%;
    }
    
}

.Cross::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 10px;
    box-shadow: 0 0 20px 4px #ff00eab4;

}

.Cross::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;
    background-color: #fff;
    transform: rotate(-45deg);
    border-radius: 10px;
    box-shadow: 0 0 20px 4px #ff00eab4;
}

.Circle::after{
    content: '';
    width: 65%;
    height: 65%;
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0 0 20px 4px #ff00eab4;
}


